#Database Connection
DB_DSN           = "mysql:host=db;port=3306;dbname=que-ud-municipality-h"
DB_USERNAME      = "root"
DB_PASSWORD      = "root_db"
DB_TABLE_PREFIX  = ""
DB_CHARSET       = utf8

FRONTEND_HOST_INFO    = http://que-ud-municipality-h.localhost
BACKEND_HOST_INFO     = http://admin-que-ud-municipality-h.localhost